body {
    background-color: #180D13;
}

main {
    flex-grow: 1
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0
}

img {
    display: block;
}

input,
textarea,
button {
    font-family: inherit;
    line-height: inherit
}

button {
    cursor: pointer
}

a {
    text-decoration: none
}
section {
    padding: 120px 0;
}
.container {
    width: 1920px;
    margin: 0 auto;
    padding-left: 277px;
}
.logo {
    display:block;
}
/* 
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 28px;
    padding-right: 28px;
    width: 1360px;
    position: absolute
}

.logo-span {
    color: #28a745
}

.logo {
    color: #fff;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.21
}

.nav {
    margin-left: auto
}

.button-icon {
    fill: #0ff
}

.button {
    display: block;
    width: 165px;
    height: 48px;
    border-radius: 5px;
    background: #28A745;
    margin: 0 auto
}

.navigation {
    display: flex;
    gap: 40px
}

.navigation-link {
    padding-top: 20px;
    padding-bottom: 20px
} */
/* ================ Header =====================  */
.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 286px;
    position: absolute;
    top:36px;
}
.nav-list {
    display:flex;
    align-items: center;
    gap: 34px;
}
/* ================ SECTION ONE =====================  */
.hero {
    background-image: url(../images/choco-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* margin-left: auto;
    margin-right: auto; */
    width: 1920px;
    height: 973px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
}
.hero-description-div {
    width: 333px;
    height: 365px;
}
.hero-heading {
    color: #FFF;
        font-family: Yanone Kaffeesatz;
        font-size: 100px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        margin-bottom:30px;
}
.hero-paragraph {
    color: #FFF;
        font-family: PT Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 43px;
}
.hero-button {
    width: 277px;
    height: 60px;
    background-color: #FF2424;
    color: #FFF;
    font-family: PT Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.category {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}
.category-heading {
        color: #B19A8C;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transform: rotate(-90deg);
}
.category-list {
    color: #B19A8C;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 166.667% */
        
}
.category-list > li {
    margin-bottom: 20px;
}
.category-item {
    color: #FFF;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
}
/* ================ SECTION TWO =====================  */
.banner {
    width: 1366px;
    height: 348px;
    background-image: url(../images/offerbanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top:45px;
    padding-left: 0;
    text-align: center;
}
.banner-heading {
    color: #FFF;
    font-family: PT Sans;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-paragraph {
    color: #FFF;
    font-family: PT Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 325px;
}
#banner-curve {
    margin-top: 25px;
    float: right;
}
/* ================ SECTION THREE =====================  */
.topsell {
    width: 1430px;
    height: 585px;
    padding-left: 0;
}
.topsell-content {
    display: flex;
    gap:80px;
}
.topsell-heading {
    width: 376px;
    height: 97px;
    color: #FFF;
    font-family: PT Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 19px;
}
.topsell-paragraph {
    width: 404px;
    height: 236px;
    color: #FFF;
    font-family: PT Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 160% */
    margin-bottom: 45px;
}
.topsell-link {
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #FF6E6E;
    font-family: PT Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.topsell-gallery {
    display: flex;
    flex-direction: column;
}
.topsell-list {
    display:flex;
    margin-bottom: 47px;
}
.topsell-list-item:first-child {
    margin-right: 18px;
    
}
.topsell-img {
    border-radius: 10px;
}
.topsell-buttons {
    align-self: center;
}
/* ================ SECTION FOUR =====================  */
.best-gift {
    width: 1001px;
    height: 953px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.best-gift-heading {
    color: #FFF;
        text-align: center;
        font-family: Yanone Kaffeesatz;
        font-size: 60px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 34px;
}
.best-gift-paragraph {
    width: 648px;
    color: #FFF;
    text-align: center;
    font-family: PT Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 87px;
}
.best-gift-bg {
    width: 1001px;
    height: 667px;
    background-image: url(../images/choco-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 45px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*
.section-three-list {
    display: flex;
    row-gap: 20px;
    column-gap: 24px;
    background-color: #00f;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap
}

.section-three-list-item {
    background: black;
    width: calc((100% - 48px) / 3);
    height: 282px
} */